/*GENERAL PROPORTIES*/
@import url('https://fonts.google.com/specimen/Notable?query=notable');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f6f4;
    letter-spacing: 0.2px;
    line-height: 18px;
    word-spacing: 2px;
}
nav{
    background-color: #f6b26b;
    font-size: 18px;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}

a:link {
    color:#f3f6f4;
}
a:visited{
    color:#f3f6f4;
}
a:hover {
    color: #ea9999;
}

a:active {
    color: #fab46b;
}
#logo{
    width: 70px;
}
video {
    pointer-events: none;
    width: 100%;
    height: 100%
}
em{
    color: #000000;
}
#cookie {
    font-family: 'Notable';
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 20px;
    background-color: #F9F7ED;
    color: #fa0;
    opacity: 50%;
    z-index: 9999;
}
.footer{
    background-color: #f7c99a;
}
#pic1, #pic2, #pic3{
    width: 100px;
}
.articles{
    text-indent: 20px;
}
figcaption{
    font-size: 12px;
}
 #menu {
    display: flex;
    justify-content: space-around;
}
#payoff{
    line-height: 28px;
}
aside{
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 10px;
}
#header{
    font-size: 35px;
}


/*PC*/
@media screen and (min-width: 1280px) {
#checkbox{
    display: none;
    visibility: hidden;
}
/*Index*/
.articles{
    width: 60%;
    margin-top: -190px;
}
aside{
    width: 30%;
}

.Product1Img, .Product2Img, .Product3Img{
    float: right;
}
.top{
    display: flex;
    flex-direction: column;
}
.mainPage{
    display: flex;
    flex-direction: row-reverse;
}
/*Product*/


}
/* Tablet*/
@media screen and (min-width: 481px) and (max-width: 1279px) {

#checkbox{
    display: none;
    visibility: hidden;
}
/*Index*/

.mainPage{
    display: flex;
}
.top{
    display: flex;
    flex-direction: column;
}
aside{
    order: 1;
}
video{
    order: 2;
}
.articles{
    order: 3;
}
.Product1{
    display: flex;
    flex-direction: column;
}
header{
    order: 3;
}
.Product2{
    order: 2;
}
.Product3{
    order: 1;
}
.Product1, .Product2, .Product3{
    width: 100%;
    float: left;
}

em{
    float: left;
}
.Product1Img, .Product2Img, .Product3Img{
    float: left;
}

}

/* Mobile*/
@media screen and (max-width: 480px) {
video{
    display: none;
    visibility: hidden;
}
figcaption{
    font-size: 8px;
}
#logo{
    width: 40px;
} 
#header{
    font-size: 23px;
}

#payoff{
    line-height: 20px;
    font-size: 15px;
}
aside{
    align-items: center;
    letter-spacing: 0.5px;
    line-height: 20px;
    word-spacing: 5px;
    font-size: 15px;
}
.articles{
    font-size: 15px;
}
/*Hamburger menu*/
#menuToggle {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color:#F4CCCC;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #FB9F9F;
}

#menuToggle input {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background:#C27BA0;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #F4CCCC;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -400px;
    padding: 40px;
    padding-top: 50px;
    background: #C27BA0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 15px;
}
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menuToggle input:checked~ul {
    transform: none;
}
nav{
    background-color: #f3f6f4;;
}
/*Hamburger menu end*/



/*Index.html*/

.mainPage{
    display: flex;
}
.top{
    display: flex;
    flex-direction: column;
}
aside{
    order: 1;
}
video{
    order: 2;
}
.articles{
    order: 3;
}
.Product1{
    display: flex;
    flex-direction: column;
}
header{
    order: 3;
}
.Product2{
    order: 2;
}
.Product3{
    order: 1;
}
.Product1, .Product2, .Product3{
    width: 100%;
    float: left;
}

em{
    float: left;
}
.Product1Img, .Product2Img, .Product3Img{
    float: left;
}
.pageHeader{
    display: flex;
}
.title{
    display: flex;
    flex-direction: column;
}
}